*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.prev, .next {
  appearance: none;
  background: #eee;
  border: 0;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  font-size: 40px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  text-align: center;
}

.dot {
  appearance: none;
  background: #333;
  border: 0;
  border-radius: 9em;
  color: white;
  font-weight: bold;
  height: 2em;
  line-height: 2;
  margin: 6px 3px 0;
  padding: 0;
  text-align: center;
  transition: background 250ms;
  width: 2em;
}

.dot:hover,
.dot:focus {
  background: #888;
  outline: none;
}

.dot.active {
  background: #bb1d87;
}